<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @calendar.name %>
</p>

<div class="calendarContainer">
  <div class="calendar"></div>
</div>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>


<%= javascript_include_tag "scripts" %>
